<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pergunta criada</title>
  <style>
    body {
      background-color: #9cce98;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100vh;
      overflow: hidden;
      font-family: sans-serif;
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      color: #fff;
      max-width: 700px;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Usuário criado com sucesso!</h1>
</body>

<script>
  setTimeout(() => {
    window.location = '/'
  }, 2000)
</script>
</html>