@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  body{
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  .container {
    background-color: #d4f5d2;
    height: 870px; /*Parte criada de forma provisória, visto que o site foi feito para um formulário maior. 
    Deve ser removida ou editada conforme andamento de projeto*/
  }
  
  .container .navbar{
    height: 100px;
    display: flex; 
    background-color: #9CCE98;
    overflow-y: hidden;
    position: relative;
  }

  .container .navbar a {
    text-decoration: none;
    color: #fff;
  }

  .container .navbar .textologo{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    position: absolute; 
    left: 2%; 
    transform: translateX(25%); 
    top: 53%; 
    transform: translateY(-50%); 
    }
    
    .container .navbar .textologo span {
    color: #359B2C;
    }

    .container .navbar img {
    height: 100px;
    position: absolute;
    right: -20px;
    }

    .container .separador {
        border-top: 5px double #16ab52;
        margin-top: 0px;
      }

      /*Formulário */
  
form {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  background: #fff;
  max-width: 1000px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
form h2 {
  font-size: 27px;
  text-align: center;
  margin: 0px 0 30px;
}
form p{
  margin: 15px 0;
}
form .form-group {
  margin-bottom: 15px;
  position: relative;
}
form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}
form input,
form select {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}
.password-input-container {
  width: 100%;
  outline: none;
  background: #fff;
  border-radius: 3px;
  position: relative; 
  display: inline-block; 
}
#pass-toggle-btn {
  position: absolute;
  top: 50%;
  right: 5px; 
  transform: translateY(-50%);
  cursor: pointer;
}
#password {
  padding-right: 25px; 
  width: 100%; 
}
.label-radio{ 
  font-size: 15px;
  margin: 10px 0;
  display: inline-block;
  vertical-align: middle;
}
 #raça{
  margin: 10px 0;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
 #genero{ 
  width: 25px;
  height: 25px;
  vertical-align: middle;
 }
 #def{
  width: 25px;
  height: 25px;
  vertical-align: middle;
 }

form input:focus,
form select:focus {
  border-color: #008937;
}
form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}
form .password i {
  position: absolute;
  right: 0px;
  height: 45px;
  top: 28px;
  font-size: 13px;
  line-height: 45px;
  width: 45px;
  cursor: pointer;
  color: #939393;
  text-align: center;
}
  #outra_deficiencia {
  display: none;
}
  #outrogen_text {
  display: none;
}
  #outrorac_text{
  display: none;
}
#termos{
  margin: 20px 5px 20px 0;
  width: 15px;
  height: 15px;
  float: left;
}
label {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1.3em;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 10%;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  justify-content: center;
  align-items: center;
  text-align: justify;
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  overflow: auto;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#close-termos-popup{
  font-size: 50px;
  cursor: pointer;
  margin-left: 97%;
}
#close-contato-popup{
  font-size: 50px;
  right: 21%;
}
#close-politica-popup{
  font-size: 50px;
  right: 21%;
}
ul {
  margin: 10px 0;
}
.politica-texto {
  margin: 10px 0;
}
.contato {
  margin: 10px 0;
}
#button {
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 15px;
  border-color: #008937;
  overflow-y: hidden;
}
#button:hover {
  background-color: #16ab52;
  color: #fff;

}

.footer {
  margin-top: 0;
  border-top: 5px double #16ab52;
  overflow: hidden;
}

  .final-left .sobre a{
  text-decoration: none;
  text-align: left;
  color: black;
  cursor: pointer;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 25px;
  display: block;
}

.final-left .icons {
  display: flex;
  margin: 30px 10px 0 35px;
  gap: 30px;
}

.final-right{
  display: block;
  text-align: right;
  margin-right: 50px;
  font-size: 20px;
  word-spacing: 25px;
  margin-top: -25px;
  position: relative;
}

.final-right a{
  text-decoration: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}